
:root{
    --background: black;
    --color1: #2A428B;
    --color2: rgb(226 51 143);
}    
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    align-content:flex-start;

}
header{
    display: flex;
    align-items: center;
    height: 70px;
    width: 100vw;
    background-color: black;
    border-bottom: 1px solid #feedff;
}
nav{
    position: absolute;
    right: 0;
}
.logo{
    display: flex;
    align-items: center;
    height: 70px;
    padding: 10px;
    font-family: 'agbalumo';
    font-size: 2rem;
    color: #fef156;
    text-shadow: 2px 2px 2px rgb(226 51 143);
}
img{
    height: 90%;
    margin-right: 5px;
}
.main-nav {
    margin: 30px 0;
}
.main-nav__item{
    margin: 5px;
    border-radius: 30px;
    border: 1px solid rgb(226 51 143);
    box-shadow: 1px 1px 3px 1px #fef156;
    padding: 7px;
    background-color: #2a428b;
    display: inline;
    list-style: none;
    font-size: 1.2rem;
}
a{
    color: #feedff;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.contenidos{
    background-color: black;
    width: 25%;
    min-width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

aside>div{
    background-color: rgb(255 60 98);
    border: 1px solid rgb(255, 240, 27);
    vertical-align: middle;
    padding: 20px;
    width: 88%;
    border-radius: 10px;
    height: 95px;
    margin: 10px;
    cursor: pointer;
}
aside p{
    color: var(--color1);
    display: inline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
main{
    background-color: var(--background);
    width: 75%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px
}
main p {
    text-align: justify;
    color: rgb(255, 240, 27);
}

footer{
    background-color: #2a428b;
    color: #feedec;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

@media (max-width: 700px){
    body{
        width: 100vw;
    }
    nav {
        display: none;
    }
    header{
        width: 100%;
        height: 8vh;
        /* justify-content: center; */
    }
    .logo img{
        height: 40px;
        margin: 0 10px 0 20px;
    }
    .logo{
        font-size: 1.5rem;
    }
    main{
        width: 100%;
        order: 1;
    }
    .contenidos{
        width: 100%;
        order: 2;
        flex-direction: row;
        flex-wrap: wrap;

    }
    aside>div{
        flex-basis: 200px;
        flex-grow: 1;
    }
    footer{
        width: 100vw;
        order: 3;
    }
}